<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="container">
    @RenderBody()
</div>
<footer>
    <p>
        <a href="https://github.com/etrupja" target="_blank">&copy; 2021 - Leman Mirizade</a>
    </p>
</footer>
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/jquery/jquery.min.js"></script>
</body>

</html>
